*{
    margin: 0;
    padding: 0;
}
*body{
    width: 100%;
    height: 100vh;
}
.contain{
    width: 95%;
    height: 900px;
    margin: auto;
}
nav{
    display: flex;
    text-align: center;
    height: 70px;
    background-color: white;
}
nav img{
    width: 100px;
    height: 60px;
}
input{
    width: 250px;
    height: 200px;
    border-radius: 15px;
}
.inptdv{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.mail2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.inrel{
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
}
.inabs{
    position: absolute;
    display: none;
}
.inrel2{
    position: relative;
}
.inabs2{
    position: absolute;
}
.inrel:focus-within .inabs{
    display: block;
}
.inpt001-fx{
    display: flex;
    gap: 35px;
}